.camera {
  background: url(icons.png) -18px 0px no-repeat;
  display: inline-block;
  width: 15px;
  height: 13px;
}

.close {
  background: url(icons.png) -17px -17px no-repeat;
  display: inline-block;
  width: 12px;
  height: 11px;
}

.directions {
  background: url(icons.png) -35px -16px no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.itinerary {
  background: url(icons.png) 0px -17px no-repeat;
  display: inline-block;
  width: 15px;
  height: 13px;
}

.play {
  background: url(icons.png) -35px 0px no-repeat;
  display: inline-block;
  width: 15px;
  height: 14px;
}

.search {
  background: url(icons.png) 0px 0px no-repeat;
  display: inline-block;
  width: 16px;
  height: 15px;
}