/* Reset */
#npmap * {box-sizing:content-box;font:inherit;font-size:100%;margin:0;outline:0;padding:0;text-align:left;vertical-align:top;}
#npmap blockquote, q {quotes:none;}
#npmap ins {text-decoration:none;}
#npmap del {text-decoration:line-through;}
#npmap table {border-collapse:collapse;border-spacing:0;}
#npmap table td {border:none;}
#npmap ol, ul {list-style:none;margin:0;padding:0;}
#npmap ol li {background:none;}
#npmap ul li {background:none;}
#npmap input, select {vertical-align:middle}
#npmap textarea {overflow:auto}
#npmap input[type="radio"] {vertical-align:text-bottom}
#npmap input[type="checkbox"] {vertical-align:bottom}
#npmap label, input[type="button"], input[type="submit"], input[type="image"], button {cursor:pointer}
#npmap button, input, select, textarea {margin:0}

/* Core elements */
#npmap {
  background-color: #EBF2DA;
  font-size: 13px;
  line-height: 16px;
}
#npmap-map {
  z-index: 0;
}
#npmap-toolbar {
  background-color: #908D7C;
  left: 0;
  height: 28px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
#npmap strong {
  font-weight: bold;
}
#npmap .ir {
  background-repeat: no-repeat;
  display: block;
  direction: ltr;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
#npmap .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#npmap .clearfix {
  display: inline-block;
}
* html #npmap .clearfix {
  height: 1%;
}
#npmap .clearfix {
  display: block;
}
/* End Core Elements */
/* Buttons */
/* DEPRECATED */
#npmap .sq-btn {background:transparent url(../img/textures/sq-btn.png) repeat-x left top;background-image:-moz-linear-gradient(#b28000,#9d7100);background-image:-webkit-gradient(linear,0% 0%, 0% 100%,from(#b28000),to(#9d7100));background-image:-webkit-linear-gradient(#b28000,#9d7100);background-image:-o-linear-gradient(#b28000,#9d7100);color:#FFFFFF;cursor:pointer;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:12px;font-weight:bold;padding:8px 12px 6px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;-moz-box-shadow:0 0 3px #cbcbcb;-webkit-box-shadow:0 0 3px #cbcbcb;box-shadow:0 0 3px #cbcbcb;text-align:center;}
#npmap button.sq-btn {border: none;height: 28px;padding-top: 5px;}
#npmap button.simple-btn {background-color: transparent;border: none;color: #b28000;font-size: 12px;font-weight: bold;padding: 7px 10px 6px 10px;}
/* END DEPRECATED */
#npmap button {
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
#npmap button:focus {
  outline: dotted 1px #000;
}
#npmap button:hover {
  text-decoration: underline;
}
#npmap button.disabled {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#npmap button.disabled:active {
  /*background-image: none;*/
  text-decoration: none;
}
#npmap button.disabled:hover {
  /*background-image: none;*/
  text-decoration: none;
}
#npmap button.btn-simple {
  border: none;
  background: transparent;
  color: #706D5F;
  font-size: 10px;
  height: 28px;
  margin: 0 0 0 8px;
}
#npmap button.btn-primary, #npmap button.btn-primary.disabled:active, #npmap button.btn-primary.disabled:hover {
  background-color: #b3852d;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  font-size: 12px;
  /*height: 28px;*/
  padding: 8px 12px 6px;
  padding-top: 5px;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
     -moz-border-radius: 2px / 2px 2px 2px 2px;
  -webkit-border-radius: 2px / 2px 2px 2px 2px;
          border-radius: 2px / 2px 2px 2px 2px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-box-shadow: 0 0 5px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.16);
          box-shadow: 0 0 5px rgba(0,0,0,.16);
}
#npmap button.btn-primary:hover {
  background-color: #d39800;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  text-shadow: none;
     -moz-border-radius: 2px / 2px 2px 2px 2px;
  -webkit-border-radius: 2px / 2px 2px 2px 2px;   
          border-radius: 2px / 2px 2px 2px 2px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,.17), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.15);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.17), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.15);
          box-shadow: 0 2px 1px rgba(0,0,0,.17), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.15);
}
#npmap button.btn-primary:active {
  background-color: #b88822;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  text-shadow: none;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
          /*
     -moz-box-shadow: 0 1px 0 5px rgba(255,255,255,.16), inset 0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 0 5px rgba(255,255,255,.16), inset 0 1px 3px rgba(0,0,0,.3);
          box-shadow: 0 1px 0 5px rgba(255,255,255,.16), inset 0 1px 3px rgba(0,0,0,.3);
          */
}
#npmap button.btn-primary.disabled {
  background-color: #b3852d;
}
#npmap button.btn-secondary, #npmap button.btn-secondary.disabled:active, #npmap button.btn-secondary.disabled:hover {
  background-color: #7a8f52;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%);
  font-size: 12px;
  /*height: 28px;*/
  padding: 8px 12px 6px;
  padding-top: 5px;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
     -moz-border-radius: 4px / 2px;
  -webkit-border-radius: 4px / 2px;
          border-radius: 4px / 2px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
          box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
#npmap button.btn-secondary:hover {
  background-color: #9bab7d;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,.15) 100%);
  text-shadow: none;
     -moz-border-radius: 4px / 2px;
  -webkit-border-radius: 4px / 2px;
          border-radius: 4px / 2px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,.17), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.15);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.17), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.15);
          box-shadow: 0 2px 1px rgba(0,0,0,.17), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.15);
}
#npmap button.btn-secondary:active {
  background-color: #718350;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  text-shadow: none;
     -moz-border-radius: 4px / 2px;
  -webkit-border-radius: 4px / 2px;
          border-radius: 4px / 2px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-box-shadow: 0 2px 0 rgba(255,255,255,.28), inset 0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 0 rgba(255,255,255,.28), inset 0 1px 3px rgba(0,0,0,.3);
          box-shadow: 0 2px 0 rgba(255,255,255,.28), inset 0 1px 3px rgba(0,0,0,.3);
}
#npmap button.btn-secondary.disabled {
  background-color: #7a8f52;
}
#npmap .npmap-search-button {
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
     -moz-box-shadow: 0 0 5px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.16);
          box-shadow: 0 0 5px rgba(0,0,0,.16);
  background-color: #cb9733;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%);
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 2px;
  top: 2px;
  vertical-align: text-top;
  width: 24px;
}
#npmap .npmap-search-button .icon-search {
  left: 4px;
  position: absolute;
  top: 3px;
}
/* End Buttons */
/* Inputs */
#npmap input, textarea, select {
  background-color: #FCFCFC;
  border: solid 1px #CBCBCB;
     -moz-border-radius: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
}
#npmap input, textarea {
  padding: 7px 10px;
}
#npmap input {
  height: 12px;
}
#npmap ::-webkit-input-placeholder {
  color: #908C7D;
  font-style: italic;
}
#npmap :-moz-placeholder {
  color: #908C7D;
  font-style: italic;
}
#npmap ::-moz-placeholder {
  color: #908C7D;
  font-style: italic;
}
#npmap :-ms-input-placeholder {
  color: #908C7D;
  font-style: italic;
}
#npmap input.search {
  padding-right: 30px;
  width: 158px;
}
/* Popup */
#npmap .npmap-modal {
     -moz-box-shadow: 0 0 3px rgba(0, 0 ,0, .64);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .64);
          box-shadow: 0 0 3px rgba(0, 0, 0, .64);
  background-color: #F9F7F1;
  border: 8px solid #F7F2E4;
  left: 50%;
  margin-left: -163px;
  padding: 17px;
  position: absolute;
  width: 276px;
  z-index: 5;
}
#npmap .npmap-modal-overlay {
  background-color: rgb(0, 0, 0);
  height: 100%;
  opacity: 0.65;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}
#npmap .npmap-modal .npmap-modal-buttons {
  margin-top: 18px;
  text-align: center;
}
#npmap .npmap-modal .npmap-modal-content {
  border-bottom: 1px solid #B1B0A7;
  color: #5E7630;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}
/* End Popup */
/* Tooltip */
#npmap .tooltip {
  background: #44433b;
  color: white;
  opacity: 1;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 190px;
}
#npmap .arrow-down:after {
  border: solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
#npmap .arrow-down:after {
  border-color: rgb(68, 67, 59);
  border-color: rgba(68, 67, 59, 0);
  border-top-color: #44433b;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}
/* End Tooltip */
/* Styling */
#npmap .cursor {cursor:pointer;}
#npmap .even {background-color:#e0e0e0;}
#npmap .odd {}
#npmap .pointer {cursor:pointer;}
#npmap .npmap-container {background:url(../img/textures/npmap-container.jpg);padding-bottom:33px;} /* DEPRECATED? */
#npmap .padded {padding:5px;}
#npmap .rounded {-moz-border-radius:3px 0px 0px 3px;-webkit-border-radius:3px 0px 0px 3px;border-radius:3px 0px 0px 3px;}
#npmap .shadowed {-moz-box-shadow:0 0 15px #888;-webkit-box-shadow:0 0 15px #888;box-shadow:0 0 15px #888;}
#npmap .transparent {background-color:white;background-color:rgba(255, 255, 255, 0.7);}
#npmap a {color:#B28000;text-decoration:none;}
#npmap a.back:before {content:"\00AB ";}
#npmap a.more:after {content:" \00BB";}
#npmap a:hover {color:#d39700;text-decoration:underline;}
#npmap small, sup {font-size:85% !important;vertical-align:super !important;} /* TODO: small should not be used here */
#npmap small, sub {font-size:85% !important;vertical-align:sub !important;}

/* Controls */
#npmap-attribution {
     -moz-box-shadow: 0 0 15px #888;
  -webkit-box-shadow: 0 0 15px #888;
          box-shadow: 0 0 15px #888;
  bottom: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  max-width: 400px;
  padding: 3px 5px;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 30;
}
#npmap-clickdot {background-color:transparent;display:block;height:1px;position:absolute;width:1px;z-index:30;}
/* End Controls */
/* Icons */
#npmap [class^="icon-"], [class*=" icon-"] {
  background-image: url(../img/icons/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
}
#npmap .icon-camera {
  background-position: -18px 0;
  width: 15px;
  height: 13px;
}
#npmap .icon-close {
  background-position: -17px -17px;
  height: 11px;
  width: 12px;
}
#npmap .icon-directions {
  background-position: -35px -16px;
}
#npmap .icon-itinerary {
  background-position: 0 -17px;
  height: 13px;
  width: 15px;
}
#npmap .icon-play {
  background-position: -35px 0;
  width: 15px;
}
#npmap .icon-search {
  background-position: 0 0;
  height: 15px;
  width: 16px;
}
/* End Icons */
/* Modules */
#npmap-modules {
     -moz-box-shadow: 2px 0 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,.2);
          box-shadow: 2px 0 2px rgba(0,0,0,.2);
  background: #F9F7F1 url(../img/modules/mountain-background.png) no-repeat left bottom;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  z-index: 2;
}
#npmap .npmap-modules-tabs {
  position: absolute;
  top: 35px;
  z-index: 1;
}
#npmap .npmap-module {
  height: 100%;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
#npmap #npmap-modules .npmap-module-title {
  border-bottom: 1px solid rgb(189, 187, 177);
  border-bottom: 1px solid rgba(189, 187, 177, .2);
  color: #63752F;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 14px;
}
#npmap #npmap-modules .npmap-module-content {
  color: #464646;
  font-size: 13px;
  overflow: auto;
  padding: 12px 14px;
}
#npmap #npmap-modules .npmap-module-content .description {
  font-style: italic;
  margin-bottom: 22px;
}
#npmap-modules-close {
  display: none;
  height: 100%;
  left: 250px;
  position: absolute;
  z-index: 2;
}
#npmap .npmap-module-tab {
     -moz-border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
          border-radius: 0 3px 3px;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.4);
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.4);
          box-shadow: 1px 2px 5px rgba(0,0,0,.4);
  background-color: #7A796D;
  display: inline-block;
  width: 28px;
  height: 24px;
}
#npmap .npmap-module-tab .icon-camera {
  left: 6px;
  position: absolute;
  top: 4px;
}
#npmap .npmap-module-tab .icon-close {
  left: 8px;
  position: absolute;
  top: 6px;
}
#npmap .npmap-module-tab .icon-directions {
  left: 7px;
  position: absolute;
  top: 5px;
}
#npmap .npmap-module-tab .icon-itinerary {
  left: 6px;
  position: absolute;
  top: 5px;
}
#npmap .npmap-module-tab .icon-play {
  left: 6px;
  position: absolute;
  top: 4px;
}
#npmap .npmap-module-tab .icon-search {
  left: 6px;
  position: absolute;
  top: 4px;
}
/* End Modules */
/* Tools */
#npmap-geocoder-results {
     -moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.12);
          box-shadow: 0 2px 3px rgba(0,0,0,.12);
  background-color: white;
  display: none;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
}
#npmap-geocoder-results li {
  border-bottom: 1px solid #F2F1EF;
  border-top: 1px solid #F2F1EF;
  cursor: pointer;
  list-style-type: none;
  padding: 7px 10px;
}
#npmap-geocoder-results li.first {
  border-top: none;
}
#npmap-geocoder-results li.last {
  border-bottom: none;
}
#npmap-geocoder-results li.mouseover {
  background-color: #F1F1EF;
}
#npmap-geocoder-results li.selected {
  background-color: #DDDDDD;
}
/* End Tools */

#npmap-navigation-compass {display:block;height:59px;width:58px;}
#npmap-navigation-compass-center {height:20px;left:18px;position:absolute;top:18px;width:20px;}
#npmap-navigation-compass-east {height:20px;position:absolute;left:41px;top:19px;width:19px;}
#npmap-navigation-compass-north {height:18px;position:absolute;left:20px;top:-1px;width:18px;}
#npmap-navigation-compass-south {height:18px;position:absolute;left:20px;top:40px;width:18px;}
#npmap-navigation-compass-west {height:20px;position:absolute;left:-2;top:19px;width:19px;}
.npmap-navigation-compass-home {background:url(../img/tools/navigation/compass-home/sprite.png) -60px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-disabled {background:url(../img/tools/navigation/compass-home/sprite.png) 0px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-east-over {background:url(../img/tools/navigation/compass-home/sprite.png) -60px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-north-over {background:url(../img/tools/navigation/compass-home/sprite.png) -120px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-south-over {background:url(../img/tools/navigation/compass-home/sprite.png) -120px 0px no-repeat;display: block;height:59px;width:58px;}
.npmap-navigation-compass-home-west-over {background:url(../img/tools/navigation/compass-home/sprite.png) 0px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north {background:url(../img/tools/navigation/compass-north/sprite.png) -120px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-disabled {background:url(../img/tools/navigation/compass-north/sprite.png) 0px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-east-over {background:url(../img/tools/navigation/compass-north/sprite.png) -60px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-north-over {background:url(../img/tools/navigation/compass-north/sprite.png) -120px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-south-over {background:url(../img/tools/navigation/compass-north/sprite.png) 0px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-west-over {background:url(../img/tools/navigation/compass-north/sprite.png) -60px -61px no-repeat;display:block;height:59px;width:58px;}
#npmap-navigation-small-zoom {display:block;width:21px;height:42px;}
#npmap-navigation-small-zoom-in {display:block;height:21px;width:21px;}
#npmap-navigation-small-zoom-out {display:block;height:21px;top:21px;width:21px;}
.npmap-navigation-small-zoom {background:url(../img/tools/navigation/zoom-small/sprite.png) -23px -44px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-disabled {background:url(../img/tools/navigation/zoom-small/sprite.png) 0px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-in-disabled {background:url(../img/tools/navigation/zoom-small/sprite.png) -23px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-in-over {background:url(../img/tools/navigation/zoom-small/sprite.png) -46px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-out-disabled {background:url(../img/tools/navigation/zoom-small/sprite.png) -69px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-out-over {background:url(../img/tools/navigation/zoom-small/sprite.png) 0px -44px no-repeat;display:block;width:21px;height:42px;}
#npmap-notify {left:50%;margin-left:-150px;position:absolute;top:0;width:300px;z-index:20000;}
#npmap-notify .content {-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#FCF8E3;border-bottom:solid 2px #FBEED5;border-left:solid 2px #FBEED5;border-right:solid 2px #FBEED5;color:#C09853;display:block;padding:8px 35px;position:absolute;width:226px;}
#npmap-notify .content p {margin:0;}
#npmap-notify .content h3 {font-size:15px;font-weight:bold;margin:0 0 8px;}
#npmap-notify .error {background-color:#F2DEDE;border-bottom:solid 2px #EED3D7;border-left:solid 2px #EED3D7;border-right:solid 2px #EED3D7;color:#B94A48;}
#npmap-notify .info {background-color:#D9EDF7;border-bottom:solid 2px #BCE8F1;border-left:solid 2px #BCE8F1;border-right:solid 2px #BCE8F1;color:#3A87AD;}
#npmap-notify .success {background-color:#DFF0D8;border-bottom:solid 2px #D6E9C6;border-left:solid 2px #D6E9C6;border-right:solid 2px #D6E9C6;color:#468847;}
#npmap-overview {background-color:white;border-left:solid 3px black;border-top:solid 3px black;height:48px;position:absolute;right:0;width:48px;z-index:31;}
.npmap-overview-close {background:url(../img/tools/overviewmap/sprite.png) -15px 0px no-repeat;bottom:2px;display:block;height:13px;right:2px;width:13px;}
.npmap-overview-close-over {background:url(../img/tools/overviewmap/sprite.png) 0px 0px no-repeat;bottom:2px;display:block;height:13px;right:2px;width:13px;}
.npmap-overview-open {background:url(../img/tools/overviewmap/sprite.png) -15px -15px no-repeat;display:block;height:13px;left:2px;top:2px;width:13px;}
.npmap-overview-open-over {background:url(../img/tools/overviewmap/sprite.png) 0px -15px no-repeat;display:block;height:13px;left:2px;top:2px;width:13px;}
#npmap-progressbar {background-color:black;border-radius:13px;bottom:35px;display:none;left:50%;margin-left:-100px;padding:3px;position:absolute;width:200px;z-index:30;}
#npmap-progressbar div {background-color:#CA702D;width:0%;height:20px;border-radius:10px;}
#npmap-switcher {background: url(../img/tools/switcher/dropdown-background.png) repeat-x left top;height:23px;line-height:23px;vertical-align:middle;}
.npmap-switcher-dropdown {color:#6E6C5F;cursor:pointer;display:block;float:right;font-size:10px;font-weight:bold;position:absolute;right:15px;text-decoration:none;top:15px;width:175px;z-index:30;}
.npmap-switcher-dropdown:hover {text-decoration:none;}
.npmap-switcher-dropdown.jdropdown-active {background-position:0 0;}
#npmap-switcher-dropdown-left {background:url(../img/tools/switcher/dropdown-background-left.png) no-repeat left top;height:23px;width:3px;}
#npmap-switcher-dropdown-right {background:url(../img/tools/switcher/dropdown-background-right.png) no-repeat left top;height:23px;position:absolute;right:0;top:0;width:21px;}
#npmap-switcher-dropdown-icon {float:left;left:0;padding-left:2px;position:absolute;text-align:center;top:0;center;width:24px;}
#npmap-switcher-dropdown-text {position:absolute;margin-left:30px;top:0;}
#npmap-switcher-menu {background:#FFFFFF none repeat scroll 0 0;border:1px solid #EDECE8;color:#6E6C5F;display:none;font-size:12px;font-weight:bold;padding:0;}
.npmap-switcher-menu-item {border-bottom:solid 1px #F2F1EF;}
#npmap-switcher-menu ul {list-style:none;margin:0;padding:0;}
#npmap-switcher-menu a {display:block;overflow:hidden;padding:8px;text-align:left;text-decoration:none;}
#npmap-switcher-menu a:hover {background:#F1F1EF;text-decoration:none;}
#npmap-switcher-menu a:visited {text-decoration:none;}
#npmap-fullscreen-mask {background-color:black;height:100%;left:0;position:fixed;top:0;width:100%;z-index:99999999999;}
#npmap-tip {display:none;max-width:200px;position:absolute;z-index:32;}
/* DEPRECATED */
#npmap-tools {float:right;}
#npmap #npmap-tools li {background-color:#828171;border-left:solid 1px #ADACA2;cursor:pointer;list-style:none;float:left;height:28px;width:34px;}
#npmap-tools .npmap-toolbar-fullscreen {background:url(../img/tools/toolbar/sprite.png) 0px -14px no-repeat;display:block;height:12px;margin:8px 0 0 10.5px;width:13px;}
#npmap-tools .npmap-toolbar-print {background:url(../img/tools/toolbar/sprite.png) -15px -14px no-repeat;display:block;height:12px;margin:8px 0 0 10px;width:12px;}
#npmap-tools .npmap-toolbar-share {background:url(../img/tools/toolbar/sprite.png) -15px 0px no-repeat;display:block;height:9px;margin:10px 0 0 10.5px;width:13px;}
/*.npmap-tools-button {padding:9px 8.5px;}*/
#npmap-zoombox {background-color:white;border:2px dashed #9F6D00;display:none;height:0;left:0;margin:0;opacity:0.5;padding:0;position:absolute;top:0;width:0;z-index:29;}
.npmap-fullscreen-map {background-color:white;bottom:0;height:auto !important;left:0;position:fixed !important;right:0;top:0;width:auto !important;z-index:999999999999;}

@media print {
  #npmap-modules, #npmap-navigation, #npmap-overview, #npmap-toolbar {display:none;}
}

/* baseApi overrides */
.leaflet-zoom-box {
  background-color: white !important;
  border: 2px dashed #9F6D00 !important;
  opacity: 0.5 !important;
}