/* Reset */
#npmap * {font:inherit;font-size:100%;margin:0;outline:0;padding:0;text-align:left;vertical-align:top;}
#npmap blockquote, q {quotes:none;}
#npmap ins {text-decoration:none;}
#npmap del {text-decoration:line-through;}
#npmap table {border-collapse:collapse;border-spacing:0;}
#npmap table td {border:none;}
#npmap ol, ul {list-style:none;margin:0;padding:0;}
#npmap ol li {background:none;}
#npmap ul li {background:none;}

/* Core elements */
#npmap {background-color:#EBF2DA;font-size:13px;line-height:16px;} /*border:solid 1px #e0e0e0;*/
#npmap-map {z-index:0;}
#npmap-modules {background-color:#F9F7F1;bottom:0;display:none;left:0;position:absolute;top:0;width:200px;z-index:1;}
#npmap-toolbar {background-color:#908D7C;left:0;height:28px;position:absolute;right:0;top:0;z-index:2;} /*border-bottom-left-radius:3px;border-bottom-right-radius:3px;*/

/* Buttons */
/* DEPRECATED */
#npmap .sq-btn {background:transparent url(../img/textures/sq-btn.png) repeat-x left top;background-image:-moz-linear-gradient(#b28000,#9d7100);background-image:-webkit-gradient(linear,0% 0%, 0% 100%,from(#b28000),to(#9d7100));background-image:-webkit-linear-gradient(#b28000,#9d7100);background-image:-o-linear-gradient(#b28000,#9d7100);color:#FFFFFF;cursor:pointer;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:12px;font-weight:bold;padding:8px 12px 6px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;-moz-box-shadow:0 0 3px #cbcbcb;-webkit-box-shadow:0 0 3px #cbcbcb;box-shadow:0 0 3px #cbcbcb;text-align:center;}
/* DEPRECATED */
#npmap button.sq-btn {
  border: none;
  height: 28px;
  padding-top: 5px;
}

/*
Support for full multi-stop gradients with IE9 (using SVG).
Add a "gradient" class to all your elements that have a gradient, and add the following override to your HTML to complete the IE9 support:

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
*/

#npmap button.btn-cta {
  background: rgb(179,133,45);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzODUyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZTc2MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(179,133,45,1) 0%, rgba(158,118,40,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,133,45,1)), color-stop(100%,rgba(158,118,40,1)));
  background: -webkit-linear-gradient(top,  rgba(179,133,45,1) 0%,rgba(158,118,40,1) 100%);
  background: -o-linear-gradient(top,  rgba(179,133,45,1) 0%,rgba(158,118,40,1) 100%);
  background: -ms-linear-gradient(top,  rgba(179,133,45,1) 0%,rgba(158,118,40,1) 100%);
  background: linear-gradient(to bottom,  rgba(179,133,45,1) 0%,rgba(158,118,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3852d', endColorstr='#9e7628',GradientType=0 );
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  padding: 8px 12px 6px;
  padding-top: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 3px #cbcbcb;
  -webkit-box-shadow: 0 0 3px #cbcbcb;
  box-shadow: 0 0 3px #cbcbcb;
  text-align: center;
}

#npmap button.btn-cta:focus {
  
}
#npmap button.btn-cta:hover {
  background: rgb(225,187,48);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxYmIzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2UxYjkyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWE3MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(225,187,48,1) 0%, rgba(225,185,47,1) 26%, rgba(217,167,37,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,187,48,1)), color-stop(26%,rgba(225,185,47,1)), color-stop(100%,rgba(217,167,37,1)));
  background: -webkit-linear-gradient(top,  rgba(225,187,48,1) 0%,rgba(225,185,47,1) 26%,rgba(217,167,37,1) 100%);
  background: -o-linear-gradient(top,  rgba(225,187,48,1) 0%,rgba(225,185,47,1) 26%,rgba(217,167,37,1) 100%);
  background: -ms-linear-gradient(top,  rgba(225,187,48,1) 0%,rgba(225,185,47,1) 26%,rgba(217,167,37,1) 100%);
  background: linear-gradient(to bottom,  rgba(225,187,48,1) 0%,rgba(225,185,47,1) 26%,rgba(217,167,37,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1bb30', endColorstr='#d9a725',GradientType=0 );
}
#npmap button.btn-cta:active {
  background: rgb(173,118,29);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkNzYxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMjk4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(173,118,29,1) 0%, rgba(194,152,39,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,118,29,1)), color-stop(100%,rgba(194,152,39,1)));
  background: -webkit-linear-gradient(top,  rgba(173,118,29,1) 0%,rgba(194,152,39,1) 100%);
  background: -o-linear-gradient(top,  rgba(173,118,29,1) 0%,rgba(194,152,39,1) 100%);
  background: -ms-linear-gradient(top,  rgba(173,118,29,1) 0%,rgba(194,152,39,1) 100%);
  background: linear-gradient(to bottom,  rgba(173,118,29,1) 0%,rgba(194,152,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad761d', endColorstr='#c29827',GradientType=0 );
}

#npmap button:hover {
  text-decoration: underline;
}
#npmap button.disabled {
  background: #D9D9D9;
}
#npmap button.disabled:hover {
  text-decoration: none;
}



#npmap button.simple-btn {background-color:transparent;border:none;color:#b28000;font-size:12px;font-weight:bold;padding:7px 10px 6px 10px;}

/* Markup free clearing */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}

/* Styling */
#npmap .cursor {cursor:pointer;}
#npmap .even {background-color:#e0e0e0;}
#npmap .odd {}
#npmap .pointer {cursor:pointer;}
#npmap .npmap-container {background:url(../img/textures/npmap-container.jpg);padding-bottom:33px;} /* DEPRECATED? */
#npmap .padded {padding:5px;}
#npmap .rounded {-moz-border-radius:3px 0px 0px 3px;-webkit-border-radius:3px 0px 0px 3px;border-radius:3px 0px 0px 3px;}
#npmap .shadowed {-moz-box-shadow:0 0 15px #888;-webkit-box-shadow:0 0 15px #888;box-shadow:0 0 15px #888;}
#npmap .transparent {background-color:white;background-color:rgba(255, 255, 255, 0.7);}
#npmap a {color:#B28000;text-decoration:none;}
#npmap a.back:before {content:"\00AB ";}
#npmap a.more:after {content:" \00BB";}
#npmap a:hover {color:#d39700;text-decoration:underline;}
#npmap small, sup {font-size:85% !important;vertical-align:super !important;} /* TODO: small should not be used here */
#npmap small, sub {font-size:85% !important;vertical-align:sub !important;}

/* Controls */
#npmap-attribution {-moz-box-shadow:0 0 15px #888;-webkit-box-shadow:0 0 15px #888;bottom:0;box-shadow:0 0 15px #888;background-color:white;background-color:rgba(255, 255, 255, 0.7);color:#333;font-size:11px;line-height:13px;margin:0;max-width:400px;padding:3px 5px;position:absolute;right:0;text-align:right;z-index:30;}
#npmap-clickdot {background-color:transparent;display:block;height:1px;position:absolute;width:1px;z-index:30;}
#npmap-modules-tabs {left:0;position:absolute;top:15px;width:28px;z-index:31;}
#npmap .npmap-module {height:100%;margin:0;overflow:auto;overflow-x:hidden;padding:0;position:absolute;width:100%;z-index:0;}
#npmap-modules-close {background:url("../img/modules/right-shadow.png") repeat-y scroll 0 0;display:none;height:100%;left:199px;margin-left:0 !important;position:absolute;z-index:2;}
#npmap .npmap-module-tab {cursor:pointer;margin-left:-2px;}
.npmap-module-tab-close {background: url(../img/modules/tabs.png) 0px 0px no-repeat;display:inline-block;width:28px;height:28px;}
.npmap-module-tab-itinerary {background: url(../img/modules/tabs.png) -30px 0px no-repeat;display:inline-block;width:28px;height:24px;}
.npmap-module-tab-photo {background: url(../img/modules/tabs.png) 0px -30px no-repeat;display:inline-block;width:28px;height:24px;}
.npmap-module-tab-play {background: url(../img/modules/tabs.png) -30px -30px no-repeat;display:inline-block;width:28px;height:24px;}
.npmap-module-tab-route {background: url(../img/modules/tabs.png) -60px 0px no-repeat;display:inline-block;width:28px;height:28px;}
.npmap-module-tab-search {background: url(../img/modules/tabs.png) -60px -30px no-repeat;display:inline-block;width:28px;height:24px;}

#npmap-navigation-compass {display:block;height:59px;width:58px;}
#npmap-navigation-compass-center {height:20px;left:18px;position:absolute;top:18px;width:20px;}
#npmap-navigation-compass-east {height:20px;position:absolute;left:41px;top:19px;width:19px;}
#npmap-navigation-compass-north {height:18px;position:absolute;left:20px;top:-1px;width:18px;}
#npmap-navigation-compass-south {height:18px;position:absolute;left:20px;top:40px;width:18px;}
#npmap-navigation-compass-west {height:20px;position:absolute;left:-2;top:19px;width:19px;}
.npmap-navigation-compass-home {background:url(../img/tools/navigation/compass-home/sprite.png) -60px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-disabled {background:url(../img/tools/navigation/compass-home/sprite.png) 0px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-east-over {background:url(../img/tools/navigation/compass-home/sprite.png) -60px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-north-over {background:url(../img/tools/navigation/compass-home/sprite.png) -120px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-home-south-over {background:url(../img/tools/navigation/compass-home/sprite.png) -120px 0px no-repeat;display: block;height:59px;width:58px;}
.npmap-navigation-compass-home-west-over {background:url(../img/tools/navigation/compass-home/sprite.png) 0px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north {background:url(../img/tools/navigation/compass-north/sprite.png) -120px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-disabled {background:url(../img/tools/navigation/compass-north/sprite.png) 0px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-east-over {background:url(../img/tools/navigation/compass-north/sprite.png) -60px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-north-over {background:url(../img/tools/navigation/compass-north/sprite.png) -120px 0px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-south-over {background:url(../img/tools/navigation/compass-north/sprite.png) 0px -61px no-repeat;display:block;height:59px;width:58px;}
.npmap-navigation-compass-north-west-over {background:url(../img/tools/navigation/compass-north/sprite.png) -60px -61px no-repeat;display:block;height:59px;width:58px;}
#npmap-navigation-small-zoom {display:block;width:21px;height:42px;}
#npmap-navigation-small-zoom-in {display:block;height:21px;width:21px;}
#npmap-navigation-small-zoom-out {display:block;height:21px;top:21px;width:21px;}
.npmap-navigation-small-zoom {background:url(../img/tools/navigation/zoom-small/sprite.png) -23px -44px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-disabled {background:url(../img/tools/navigation/zoom-small/sprite.png) 0px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-in-disabled {background:url(../img/tools/navigation/zoom-small/sprite.png) -23px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-in-over {background:url(../img/tools/navigation/zoom-small/sprite.png) -46px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-out-disabled {background:url(../img/tools/navigation/zoom-small/sprite.png) -69px 0px no-repeat;display:block;width:21px;height:42px;}
.npmap-navigation-small-zoom-out-over {background:url(../img/tools/navigation/zoom-small/sprite.png) 0px -44px no-repeat;display:block;width:21px;height:42px;}
#npmap-notify {left:50%;margin-left:-150px;position:absolute;top:0;width:300px;z-index:20000;}
#npmap-notify .content {-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#FCF8E3;border-bottom:solid 2px #FBEED5;border-left:solid 2px #FBEED5;border-right:solid 2px #FBEED5;color:#C09853;padding:8px 35px;position:absolute;width:226px;}
#npmap-notify .content p {margin:0;}
#npmap-notify .content h3 {font-size:15px;font-weight:bold;margin:0 0 8px;}
#npmap-notify .error {background-color:#F2DEDE;border-bottom:solid 2px #EED3D7;border-left:solid 2px #EED3D7;border-right:solid 2px #EED3D7;color:#B94A48;}
#npmap-notify .info {background-color:#D9EDF7;border-bottom:solid 2px #BCE8F1;border-left:solid 2px #BCE8F1;border-right:solid 2px #BCE8F1;color:#3A87AD;}
#npmap-notify .success {background-color:#DFF0D8;border-bottom:solid 2px #D6E9C6;border-left:solid 2px #D6E9C6;border-right:solid 2px #D6E9C6;color:#468847;}
#npmap-overview {background-color:white;border-left:solid 3px black;border-top:solid 3px black;height:48px;position:absolute;right:0;width:48px;z-index:31;}
.npmap-overview-close {background:url(../img/tools/overviewmap/sprite.png) -15px 0px no-repeat;bottom:2px;display:block;height:13px;right:2px;width:13px;}
.npmap-overview-close-over {background:url(../img/tools/overviewmap/sprite.png) 0px 0px no-repeat;bottom:2px;display:block;height:13px;right:2px;width:13px;}
.npmap-overview-open {background:url(../img/tools/overviewmap/sprite.png) -15px -15px no-repeat;display:block;height:13px;left:2px;top:2px;width:13px;}
.npmap-overview-open-over {background:url(../img/tools/overviewmap/sprite.png) 0px -15px no-repeat;display:block;height:13px;left:2px;top:2px;width:13px;}
#npmap-progressbar {background-color:black;border-radius:13px;bottom:35px;display:none;left:50%;margin-left:-100px;padding:3px;position:absolute;width:200px;z-index:30;}
#npmap-progressbar div {background-color:#CA702D;width:0%;height:20px;border-radius:10px;}
#npmap-switcher {background: url(../img/tools/switcher/dropdown-background.png) repeat-x left top;height:23px;line-height:23px;vertical-align:middle;}
.npmap-switcher-dropdown {color:#6E6C5F;cursor:pointer;display:block;float:right;font-size:10px;font-weight:bold;position:absolute;right:15px;text-decoration:none;top:15px;width:175px;z-index:30;}
.npmap-switcher-dropdown:hover {text-decoration:none;}
.npmap-switcher-dropdown.jdropdown-active {background-position:0 0;}
#npmap-switcher-dropdown-left {background:url(../img/tools/switcher/dropdown-background-left.png) no-repeat left top;height:23px;width:3px;}
#npmap-switcher-dropdown-right {background:url(../img/tools/switcher/dropdown-background-right.png) no-repeat left top;height:23px;position:absolute;right:0;top:0;width:21px;}
#npmap-switcher-dropdown-icon {float:left;left:0;padding-left:2px;position:absolute;text-align:center;top:0;center;width:24px;}
#npmap-switcher-dropdown-text {position:absolute;margin-left:30px;top:0;}
#npmap-switcher-menu {background:#FFFFFF none repeat scroll 0 0;border:1px solid #EDECE8;color:#6E6C5F;display:none;font-size:12px;font-weight:bold;padding:0;}
.npmap-switcher-menu-item {border-bottom:solid 1px #F2F1EF;}
#npmap-switcher-menu ul {list-style:none;margin:0;padding:0;}
#npmap-switcher-menu a {display:block;overflow:hidden;padding:8px;text-align:left;text-decoration:none;}
#npmap-switcher-menu a:hover {background:#F1F1EF;text-decoration:none;}
#npmap-switcher-menu a:visited {text-decoration:none;}
#npmap-fullscreen-mask {background-color:black;height:100%;left:0;position:fixed;top:0;width:100%;z-index:99999999999;}
#npmap-tip {display:none;max-width:200px;position:absolute;z-index:32;}
/* DEPRECATED */
#npmap-tools {float:right;}
#npmap #npmap-tools li {background-color:#828171;border-left:solid 1px #ADACA2;cursor:pointer;list-style:none;float:left;height:28px;width:34px;}
#npmap-tools .npmap-toolbar-fullscreen {background:url(../img/tools/toolbar/sprite.png) 0px -14px no-repeat;display:block;height:12px;margin:8px 0 0 10.5px;width:13px;}
#npmap-tools .npmap-toolbar-print {background:url(../img/tools/toolbar/sprite.png) -15px -14px no-repeat;display:block;height:12px;margin:8px 0 0 10px;width:12px;}
#npmap-tools .npmap-toolbar-share {background:url(../img/tools/toolbar/sprite.png) -15px 0px no-repeat;display:block;height:9px;margin:10px 0 0 10.5px;width:13px;}
/*.npmap-tools-button {padding:9px 8.5px;}*/
#npmap-zoombox {background-color:white;border:2px dashed #9F6D00;display:none;height:0;left:0;margin:0;opacity:0.5;padding:0;position:absolute;top:0;width:0;z-index:29;}
.npmap-fullscreen-map {background-color:white;bottom:0;height:auto !important;left:0;position:fixed !important;right:0;top:0;width:auto !important;z-index:999999999999;}

@media print {
  #npmap-modules, #npmap-navigation, #npmap-overview, #npmap-toolbar {display:none;}
}

/* baseApi overrides */
.leaflet-zoom-box {background-color:white !important;border:2px dashed #9F6D00 !important;opacity:0.5 !important;}