/* Base */
#npmap-infobox {background-color:#F9F7F1;border:solid 1px #BDBBB1;cursor:default;max-width:381px;}
#npmap-infobox-bottom {bottom:-24px;height:25px;margin:auto;pointer-events:none;position:absolute;width:100%;}

/* TODO: Test this */
#npmap-infobox-content-wrapper {border-bottom: 1px solid #E9E9E7;min-width:250px;overflow:auto;padding:0 0 55px 0;width:381px;/*TODO:Why hardcode width?*/}
#npmap-infobox-content {height:100%;width:100%;}

#npmap-infobox.shadow {-moz-box-shadow:2px 2px 3px #BDBBB1;-webkit-box-shadow:2px 2px 3px #BDBBB1;box-shadow:2px 2px 3px #BDBBB1;}

/* Close */
#npmap-infobox-close {background:url(../img/icons_sprite.png) no-repeat left -1144px;cursor:pointer;display:block;height:21px;position:absolute;right:-6px;top:-10px;width:21px;z-index:1;}
#npmap-infobox-close:hover {background-position:left -1185px;}

/* Content */
#npmap-infobox .sections {border-bottom: 1px solid #e9e9e7;margin-bottom: 23px;}
#npmap-infobox .section-events .section-content {height:200px;padding:0;}
#npmap-infobox .section-content {overflow:auto;padding:9px 15px;}
#npmap-infobox .section-description .section-content h3, #npmap-infobox .section-description .section-content h4 {color:#5e7630;font-size:11px;margin:0 0 3px 0;text-transform:uppercase;}
#npmap-infobox .section-description .section-content h4 {color:#464646;margin-bottom:10px;}
#npmap-infobox .section-description .section-content p, #npmap-infobox .section-description .section-content a {font-size:12px;line-height:18px;}
#npmap-infobox .section-description .section-content p {color:#464646;margin:0 0 5px 0;}
#npmap-infobox .section-toggle {background:#ede8d7 url(../img/toggle_sprite.png) no-repeat left -40px;border-bottom:1px solid #f6f3e9;border-top:1px solid #e5e4de;color:#464646;cursor:pointer;font-size:11px;line-height:30px;margin:0;padding:0 0 0 33px;text-transform:uppercase;/*width:365px;*/}
#npmap-infobox .section-alerts .section-toggle {background-position:left -120px;color:#b72a0e;}
#npmap-infobox .section-toggle.section-open {border-bottom:1px solid #e9e9e7;background-position:left top;}
#npmap-infobox .section-alerts .section-toggle.section-open {color:#b72a0e;background-position:left -80px;}
#npmap-infobox .event-list {background-color:#f9f7f1;}
#npmap-infobox .event-list li {border-top:1px dotted #bdbbb1;padding:9px 15px;}
#npmap-infobox .event-list li:first-child {border:none;}
#npmap-infobox .event-list li:nth-child(odd) {background-color:#fff;}
#npmap-infobox .event-list .event-item-feature {color:#1f4a89;display:block;font-size:11px;font-weight:bold;line-height:18px;margin-bottom:2px;text-transform:uppercase;}
#npmap-infobox .event-list .event-item-date {color:#918f7e;display:block;font-size:12px;font-weight:bold;line-height:18px;margin-bottom:5px;}
#npmap-infobox .section-content h4 {color:#5e7630;font-size:13px;line-height:18px;margin:0;}
#npmap-infobox .section-content h4 span {color:#464646;font-weight:normal;}
#npmap-infobox .section-content p {color:#464646;font-size:12px;line-height:18px;margin:0 0 9px 0;}
#npmap-infobox .section-events .section-content p {margin-bottom:0;}
#npmap-infobox .alert-list li {border-bottom:1px dotted #bcbbb2;padding:7px 0;}
#npmap-infobox .alert-list h4 {color:#464646;font-size:13px;line-height:18px;}
#npmap-infobox .alert-list p {margin:0;}
#npmap-infobox .alert-list a {color:#B28000;}
#npmap-infobox .alert-list a:hover {color:#D39700;}

/* Footer */
#npmap-infobox .sq-btn {bottom:24px;font-size:12px;left:15px;padding:8px 12px 6px;padding-top:5px;position:absolute;}
#npmap-infobox .zoom-in, .zoom-in:hover {background:url(../img/icons_sprite.png) no-repeat left -852px;bottom:28px;color:#918f7e;font-size:11px;font-weight:bold;line-height:18px;padding-left:15px;position:absolute;right:20px;}
#npmap-infobox .zoom-in:hover {text-decoration:underline;}