.npmap-module-tab-close {
  background: url(npmap-module-tabs.png) 0px 0px no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.npmap-module-tab-itinerary {
  background: url(npmap-module-tabs.png) -20px 0px no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.npmap-module-tab-photo {
  background: url(npmap-module-tabs.png) 0px -20px no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.npmap-module-tab-play {
  background: url(npmap-module-tabs.png) -20px -20px no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.npmap-module-tab-route {
  background: url(npmap-module-tabs.png) -40px 0px no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.npmap-module-tab-search {
  background: url(npmap-module-tabs.png) -40px -20px no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}